.container {
	width: 100vw;
	height: 100vh;
	background-color: antiquewhite;
	display: flex;
	justify-content: center;
	align-items: center;
}

.platform {
	width: 50%;
	height: min-content;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-bottom: 10px solid darkgreen;
}

.rod {
	width: 20%;
	height: 20rem;
	background-color: inherit;
	border: none;
	display: flex;
	justify-content: center;
	cursor: pointer;
}

.rod>*{
	width: 5px;
	height: 100%;
	border-bottom: 10px solid darkgreen;
	background-color: darkgreen;
}